<footer class="footer w-100">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="copyright text-center text-sm text-muted text-lg-start">
        © <%= Date.today.year %> ,
        <%= link_to("Talentelgia Technology", "https://www.talentelgia.com", class: "font-weight-bold", target: "_blank") %>
      </div>
    </div>
  </div>
</footer>
