<div class="modal fade questn-popup" id="questn-inner-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title" id="username_popup"></h3>
      </div>
      <div class="modal-body">
        <form method="post" action="https://talentone.teamtalentelgia.com/hr/user/assign">
          <input type="hidden" name="_token" value="kjo5Kn3PxEkRGpq5aL01dERqzwYT2hmW4ZFuVkUe">
          <div class="row">
            <div class="col-lg-6">
              <!-- <h1 class="header"></h1> -->
              <div class="button-group ">
                <input type="hidden" name="user_id" id="set_user_id">
                <label><b>coolAssigned Projects:</b></label> &nbsp;
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span>Assigned Projects</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu assignbox" id="projectsDropdown">
                </ul>
              </div>
              <br>
              <input type="submit" id="btn" class="btn btn-primary  pull-center" value="Assign">
            </div>
          </div><!--/.row-->
        </form>
      </div>
      <div class="modal-footer">
        <!-- <a href=""><i class="fa fa-download"></i> Download File</a> -->
      </div>
    </div>
  </div>
</div>