<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to("/") do %>
                  <i class="fas fa-home"></i>
                <% end %>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Report</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dsr-detail-pg mt--6" data-controller="report">
  <div class="row" id="dsr_list_view">
    <div class="col-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center border-0">
          <h3 class="mb-0">Weekly Report List</h3>
          <span class="pull-right">
            <input placeholder="Search by Report Description and Project Name" type="text" id="searchDsr" name="search_dsr" class="form-control">
          </span>
        </div>
        <div id="weekly-report-table-div">
          <%= render partial: "report/weekly_list", locals: { weekly_reports: weekly_reports, pagy: pagy, current_user: current_user} %>
        </div>
      </div>
    </div>
    <div class="col-6"  id="report_detail_view" data-report-target="detail_view">
      <%= render partial: "report/report_detail", locals: { report: report, current_user: current_user} %>
    </div>
  </div>
</div>
